*.scp
*.txt
*.model
*.vocab
*.pyc
*.json
*.log
*.ckpt
models/clean-ASR/wandb/
wandb/
model_graph
config_debug.yaml
lm/
tmp*
pymp*/
*.pt
*.csv
models/kor-ASR-2
models/stats
*.code-workspace
*.sh
*.yaml
models/clean-ASR-librispeech