*.scp
*.txt
*.model
*.vocab
*.pyc
*.json
*.log
*.ckpt
models/clean-ASR/wandb/
models/clean-ASR-kor
models/noise-augmented-ASR
models/self-distill-softL1loss
wandb/
model_graph
config_debug.yaml
lm/
tmp*
kor-ASR/